.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #009879;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  background-color: #e65563;
}

.btn-delete:hover {
  background-color: #ff6b79;
}

.btn-delete:active {
  background-color: #c44b56;
}

.btn-update {
  background-color: #009879;
}

.btn-update:hover {
  background-color: #02b38e;
}

.btn-update:active {
  background-color: #018a6e;
}

.btn-add {
  background-color: #009879;
  font-size: 28px;
  padding: 20px 100px;
}

.btn-add:hover {
  background-color: #02b38e;
}

.btn-add:active {
  background-color: #018a6e;
}
